Repository arduino/arduino-cli, pull requests merged in 2020-09, with the labels that each got.

#931 Add archive command to zip a sketch and its files
  cli/sketch/archive.go
  cli/sketch/sketch.go
  commands/daemon/daemon.go
  commands/sketch/archive.go
  go.mod
  go.sum
  rpc/commands/commands.pb.go
  rpc/commands/commands.proto
  test/conftest.py
  test/test_config.py
  test/test_sketch.py
  test/testdata/sketch_simple/build/adafruit.samd.adafruit_feather_m0/sketch_simple.ino.hex
  test/testdata/sketch_simple/build/adafruit.samd.adafruit_feather_m0/sketch_simple.ino.map
  test/testdata/sketch_simple/build/arduino.avr.uno/sketch_simple.ino.eep
  test/testdata/sketch_simple/build/arduino.avr.uno/sketch_simple.ino.hex
  test/testdata/sketch_simple/build/arduino.avr.uno/sketch_simple.ino.with_bootloader.hex
  test/testdata/sketch_simple/doc.txt
  test/testdata/sketch_simple/header.h
  test/testdata/sketch_simple/merged_sketch.txt
  test/testdata/sketch_simple/old.pde
  test/testdata/sketch_simple/other.ino
  test/testdata/sketch_simple/s_file.S
  test/testdata/sketch_simple/sketch_simple.ino
  test/testdata/sketch_simple/src/helper.h
Labels: component/CLI, component/gRPC

#916 [skip changelog] Fix contributing instructions re: skipping changelog
  docs/CONTRIBUTING.md
Labels: component/docs

#940 [skip changelog] Completely document resources not inherited from referenced platform
  docs/platform-specification.md
Labels: component/docs

#942 [skip changelog] Document platform post-install script in platform specification
  docs/platform-specification.md
Labels: component/docs

#946 [skip changelog] Update Go and Python versions on CI
  .github/workflows/i18n-nightly-push.yaml
  .github/workflows/i18n-weekly-pull.yaml
  .github/workflows/link-validation.yaml
  .github/workflows/publish-docs.yaml
  .github/workflows/test.yaml
  .github/workflows/validate-docs.yaml
  Taskfile.yml
  docs/CONTRIBUTING.md
  docsgen/go.mod
  docsgen/go.sum
Labels: component/dependencies, component/docs, component/testing

#943 [skip changelog] Optimize a bit integration tests
  poetry.lock
  pyproject.toml
  test/common.py
  test/conftest.py
  test/pytest.ini
  test/test_board.py
  test/test_compile.py
  test/test_core.py
  test/test_lib.py
  test/test_outdated.py
  test/test_update.py
  test/test_upgrade.py
  test/test_upload.py
Labels: component/testing, do not merge - WIP

#963 [skip changelog] Document ability to override properties of referenced tools
  docs/platform-specification.md
Labels: component/docs

#953 Add --run-post-install and --skip-post-install flags to upgrade command
  cli/core/install.go
  cli/core/upgrade.go
  cli/upgrade/upgrade.go
  commands/instances.go
  rpc/commands/board.pb.go
  rpc/commands/commands.pb.go
  rpc/commands/commands.proto
  rpc/commands/common.pb.go
  rpc/commands/compile.pb.go
  rpc/commands/core.pb.go
  rpc/commands/lib.pb.go
  rpc/commands/upload.pb.go
  rpc/debug/debug.pb.go
  rpc/monitor/monitor.pb.go
  rpc/settings/settings.pb.go
Labels: component/CLI, component/gRPC

#979 [skip changelog] Document library location priorities in Arduino Web Editor
  docs/sketch-build-process.md
Labels: component/docs

#978 Libraries compatibility is now shown when calling lib list with fqbn
  arduino/libraries/libraries.go
  cli/lib/list.go
  commands/lib/list.go
  rpc/commands/lib.pb.go
  rpc/commands/lib.proto
  test/test_lib.py
Labels: component/CLI, component/gRPC

#971 [skip changelog] Add nightly builds link to readme
  README.md
Labels: component/docs
