Repository arduino/arduino-cli, pull requests merged in 2020-07, with the labels that each got.

#772 [skip changelog] Fix installation script's latest tag determination code
  install.sh
Labels: kind/bug

#773 [skip changelog] fixed typos
  commands/upload/upload.go
  go.mod
  go.sum
  legacy/builder/phases/libraries_builder.go
Labels: component/core

#781 [skip changelog] Correct documentation re: arduino-cli config init behavior
  cli/config/init.go
Labels: component/docs

#780 [skip changelog][skip ci] Replace duplicate content with link to config docs
  docs/integration-options.md
Labels: component/docs

#779 [skip changelog][skip ci] Correct lib name specification re: leading/trailing space
  docs/library-specification.md
Labels: component/docs

#788 [skip changelog] Remove duplicate content re: keywords.txt from platform specification
  docs/platform-specification.md
Labels: component/docs

#787 [skip changelog] Update outdated information in platform specification
  docs/platform-specification.md
Labels: component/docs

#786 [skip changelog] Correct typos in documentation
  cli/debug/debug.go
  cli/globals/args.go
  cli/upload/upload.go
  client_example/main.go
  docs/CONTRIBUTING.md
  docs/installation.md
  docs/package_index_json-specification.md
  docs/platform-specification.md
Labels: component/docs

#784 [skip changelog][skip ci] Fix contributing guidelines link on tests readme
  test/README.md
Labels: component/docs

#783 [skip changelog][skip ci] Document location priority of custom libraries paths
  docs/sketch-build-process.md
Labels: component/docs

#790 [skip changelog] Update sketch specification to reflect support for port attachment
  docs/sketch-specification.md
Labels: component/docs

#789 [skip changelog] Update library specification to reflect recently added features
  docs/library-specification.md
Labels: component/docs

#791 Implemented package_index.json signature verification
  arduino/security/keys/arduino_public.gpg.key
  arduino/security/rice-box.go
  arduino/security/signature_test.go
  arduino/security/signatures.go
  arduino/security/testdata/package_index.json
  arduino/security/testdata/package_index.json.sig
  commands/instances.go
  go.mod
  go.sum
Labels: component/core

#794 Print a friendly message if a tool is not available
  arduino/cores/tools.go
  commands/upload/upload.go
Labels: component/core, kind/bug

#795 Emit error if a tool is not available for current OS
  commands/core/install.go
Labels: component/core, kind/bug

#785 [skip changelog][skip ci] Document full hardware requirements and effects of running integration tests
  docs/CONTRIBUTING.md
Labels: component/docs

#782 [skip changelog] Make "Getting started" page more friendly to new users of Arduino CLI
  docs/getting-started.md
Labels: component/docs

#798 [skip changelog] Clarify use of platform.txt's name property in Arduino development software
  docs/platform-specification.md
Labels: component/docs

#803 [skip changelog] Remove unnecessary "TODO" note from platform specification
  docs/platform-specification.md
Labels: component/docs

#802 [skip changelog] Document boards.txt hide property
  docs/platform-specification.md
Labels: component/docs

#801 [skip changelog] Fix issues with command reference section of the documentation's navigation pane
  mkdocs.yml
Labels: component/docs

#800 [skip changelog] Document Arduino IDE's default to Upload Using Programmer feature
  docs/platform-specification.md
Labels: component/docs

#799 [skip changelog] Use relative links for documentation pages
  docs/library-specification.md
  docs/platform-specification.md
  docs/sketch-specification.md
Labels: component/docs

#797 [skip changelog] Mention Boards Manager installation option in platform specification intro
  docs/platform-specification.md
Labels: component/docs

#806 Fix zsh completion
  cli/cli.go
  cli/completion/completion.go
Labels: kind/bug

#805 [skip changelog] Document meaning of "upload" in platform specification
  docs/platform-specification.md
Labels: component/docs

#810 [skip changelog] Make Homebrew formula update only run on stable releases
  .github/workflows/release.yaml
Labels: component/packaging

#818 [skip changelog] Remove inaccurate "3rd party" descriptions from documentation
  docs/library-specification.md
  docs/platform-specification.md
Labels: component/docs

#815 [skip changelog] Use consistent indentation style in example snippets of package_index.json specification
  docs/package_index_json-specification.md
Labels: component/docs

#811 [skip changelog] Replace gender-specific grammar in package_index.json specification
  docs/package_index_json-specification.md
Labels: component/docs

#804 [skip changelog] Add links to additional information in the examples section of the library specification
  docs/library-specification.md
Labels: component/docs

#813 [skip changelog] Add forum link to FAQ
  docs/FAQ.md
Labels: component/docs

#816 [skip changelog] Always mention "user directory" along with "sketchbook" in documentation
  docs/library-specification.md
  docs/platform-specification.md
Labels: component/docs

#822 [skip changelog] Improve install script's check for conflicting installation in $PATH
  install.sh
Labels: kind/bug

#841 [skip changelog] Document serial.port.file property
  docs/platform-specification.md
Labels: component/docs

#842 [skip changelog] Add link to library dependency resolution process docs from library specification
  docs/library-specification.md
Labels: component/docs

#845 Add Sentence field to lib list output
  cli/lib/list.go
  test/test_lib.py
Labels: component/CLI

#812 [skip changelog] Document the boards.txt vid and pid properties
  docs/platform-specification.md
Labels: component/docs

#814 [skip changelog] Improve documentation re: referencing tools in a package index
  docs/package_index_json-specification.md
Labels: component/docs

#817 [skip changelog] Document that use of auto-set build.board property results in warning
  docs/platform-specification.md
Labels: component/docs

#823 [skip changelog] Use correct configuration for MkDocs pymdownx.magiclink extension
  mkdocs.yml
Labels: component/docs, kind/bug

#825 [skip changelog] Disable date stamp in command line reference documentation
  docsgen/main.go
Labels: component/docs

#826 [skip changelog] Mention ArduinoCore-API in the "Cores" section of the platform specification
  docs/platform-specification.md
Labels: component/docs

#829 [skip changelog] Document library.properties precompiled field's "full" option
  docs/library-specification.md
Labels: component/docs

#840 [skip changelog] Document compiler.libraries.ldflags property in platform specification
  docs/platform-specification.md
Labels: component/docs

#827 [skip changelog] Document serial.disableDTR and serial.disableRTS properties of boards.txt
  docs/platform-specification.md
Labels: component/docs

#833 [skip changelog] Document floating point ABI configuration folders for precompiled libraries
  docs/library-specification.md
Labels: component/docs

#867 [skip changelog] Fix missing links in documentation
  docs/CONTRIBUTING.md
Labels: component/docs

#865 Add outdate, update and upgrade commands
  cli/cli.go
  cli/outdated/outdated.go
  cli/update/update.go
  cli/upgrade/upgrade.go
  mkdocs.yml
  test/test_outdated.py
  test/test_update.py
  test/test_upgrade.py
Labels: component/CLI, component/docs, component/testing

#869 [skip changelog] Document automatic generation of recipe.preproc.macros
  docs/platform-specification.md
Labels: component/docs

#870 [skip changelog] Add previously undocumented global predefined properties to platform specification
  docs/platform-specification.md
Labels: component/docs

#871 [skip changelog] Document the upload verification system
  docs/platform-specification.md
Labels: component/docs

#872 [skip changelog] Document platform bundled libraries
  docs/platform-specification.md
Labels: component/docs

#874 [skip changelog] Add headings to delineate the platform referencing documentation
  docs/platform-specification.md
Labels: component/docs

#879 [skip changelog] Pin platform versions used in integration tests
  test/test_compile.py
  test/test_core.py
Labels: component/testing

#868 [skip changelog] Document build.library_discovery_phase property in platform specification
  docs/platform-specification.md
Labels: component/docs

#883 [skip changelog] Format generated documentation
  Taskfile.yml
Labels: component/docs

#884 Change update --outdated flag to --show-outdated
  cli/update/update.go
  test/test_update.py
Labels: component/CLI

#882 [skip changelog] Document debug system in platform specification
  docs/platform-specification.md
Labels: component/docs
