Repository arduino/arduino-cli, pull requests merged in 2020-08, with the labels that each got.

#885 [skip changelog] Add FAQ item re: Serial Monitor
  docs/FAQ.md
Labels: component/docs

#886 [skip changelog] Remove unnecessary token input from Codecov upload steps of test workflow
  .github/workflows/test.yaml
Labels: component/testing

#890 [skip changelog] Update broken or outdated references to docs workflow
  README.md
  docs/CONTRIBUTING.md
Labels: component/docs

#888 [skip changelog] Disable scheduled workflows that would always fail from running in forks
  .github/workflows/arduino-stats.yaml
  .github/workflows/github-stats.yaml
  .github/workflows/i18n-nightly-push.yaml
  .github/workflows/i18n-weekly-pull.yaml
  .github/workflows/link-validation.yaml
  .github/workflows/nightly.yaml
Labels: component/testing

#877 [skip changelog] Build is now uploaded as artifact when running tests workflow
  .github/workflows/test.yaml
Labels: component/testing

#901 [skip changelog] Prevent Prettier from wrapping nightly download link definitions
  docs/installation.md
Labels: component/docs, kind/bug

#897 Fix tools tty detection (fix avrdude running in safe mode)
  commands/upload/upload.go
  executils/executils.go
  executils/null.go
Labels: component/core, kind/bug

#904 Fix board list failing because stdin is already set
  commands/bundled_tools_serial_discovery.go
Labels: component/CLI, component/core

#906 [skip changelog]Make general minor improvements to the wording of the documentation
  cli/compile/compile.go
  docs/library-specification.md
  docs/package_index_json-specification.md
  docs/platform-specification.md
  docs/sketch-build-process.md
Labels: component/docs

#907 [skip changelog]Fix typos and formatting in the documentation
  docs/CONTRIBUTING.md
  docs/FAQ.md
  docs/index.md
  docs/integration-options.md
  docs/library-specification.md
  docs/package_index_json-specification.md
  docs/platform-specification.md
  docs/sketch-build-process.md
  docs/sketch-specification.md
  rpc/commands/board.pb.go
  rpc/commands/board.proto
  rpc/monitor/monitor.proto
Labels: component/docs

#910 [skip changelog] Update protoc files
  go.mod
  go.sum
  rpc/commands/board.pb.go
  rpc/commands/commands.pb.go
  rpc/commands/common.pb.go
  rpc/commands/compile.pb.go
  rpc/commands/core.pb.go
  rpc/commands/lib.pb.go
  rpc/commands/upload.pb.go
  rpc/debug/debug.pb.go
  rpc/monitor/monitor.pb.go
  rpc/settings/settings.pb.go
Labels: component/gRPC

#903 Create gRPC interface for update, upgrade and outdated commands
  cli/outdated/outdated.go
  cli/update/update.go
  cli/upgrade/upgrade.go
  commands/core.go
  commands/core/search.go
  commands/daemon/daemon.go
  commands/instances.go
  rpc/commands/commands.pb.go
  rpc/commands/commands.proto
Labels: component/CLI, component/core, component/gRPC

#917 [skip changelog] Specify list format for --additional-urls option
  cli/cli.go
Labels: component/docs

#926 Added gRPC interface to collect every sketch file
  client_example/go.sum
  client_example/main.go
  commands/daemon/daemon.go
  commands/instances.go
  go.mod
  go.sum
  rpc/commands/board.pb.go
  rpc/commands/commands.pb.go
  rpc/commands/commands.proto
  rpc/commands/common.pb.go
  rpc/commands/compile.pb.go
  rpc/commands/core.pb.go
  rpc/commands/lib.pb.go
  rpc/commands/upload.pb.go
  rpc/debug/debug.pb.go
  rpc/monitor/monitor.pb.go
  rpc/settings/settings.pb.go
Labels: component/gRPC

#925 [skip changelog] Document the programmers system of Arduino platforms
  docs/platform-specification.md
Labels: component/docs

#930 [skip changelog]Use standardized term for Boards Manager in documentation
  README.md
  cli/cli.go
  cli/core/search.go
  configuration/defaults.go
  docs/configuration.md
  docs/getting-started.md
  docs/index.md
Labels: component/docs
