Repository arduino/arduino-cli, pull requests merged in 2020-11, with the labels that each got.

#1049 [skip changelog] Fix core search tests
  test/test_core.py
Labels: component/testing

#1042 Binaries export must now be explicitly specified
  cli/compile/compile.go
  commands/compile/compile.go
  commands/upload/upload.go
  commands/upload/upload_test.go
  configuration/defaults.go
  legacy/builder/builder.go
  rpc/commands/compile.pb.go
  rpc/commands/compile.proto
  test/test_compile.py
  test/test_core.py
  test/test_upload.py
Labels: component/CLI, component/core, component/gRPC

#1054 [skip changelog] Correct command name command reference page title
  mkdocs.yml
Labels: component/docs, kind/bug

#1055 [skip changelog] Fix core search command tests
  test/test_core.py
Labels: component/testing

#1053 Change lib list --updatable output to be clearer if no lib is updatable
  cli/lib/list.go
  test/test_lib.py
Labels: component/CLI, component/docs

#1056 Fix binaries not being exported when using settings or env var
  cli/compile/compile.go
  test/test_compile.py
Labels: component/CLI, component/core, kind/bug

#1052 Add alpha to version
  version/version.go
Labels: component/docs

#1044 Deprecate compile --build-properties flag in favor of new featureful --build-property flag
  cli/compile/compile.go
  go.mod
  test/conftest.py
  test/test_compile.py
  test/test_sketch.py
  test/testdata/sketch_with_multiple_defines/sketch_with_multiple_defines.ino
  test/testdata/sketch_with_multiple_int_defines/sketch_with_multiple_int_defines.ino
  test/testdata/sketch_with_single_int_define/sketch_with_single_int_define.ino
  test/testdata/sketch_with_single_string_define/sketch_with_single_string_define.ino
Labels: component/CLI, component/core

#1061 [skip changelog] Fix sketch tests on Windows
  go.sum
  test/test_sketch.py
Labels: component/testing

#1048 Add gRPC interface for board list watcher
  cli/board/list.go
  client_example/go.sum
  client_example/main.go
  commands/board/list.go
  commands/daemon/daemon.go
  rpc/commands/board.pb.go
  rpc/commands/board.proto
  rpc/commands/commands.pb.go
  rpc/commands/commands.proto
  rpc/commands/common.pb.go
  rpc/commands/compile.pb.go
  rpc/commands/core.pb.go
  rpc/commands/lib.pb.go
  rpc/commands/upload.pb.go
  rpc/debug/debug.pb.go
  rpc/monitor/monitor.pb.go
  rpc/settings/settings.pb.go
Labels: component/CLI, component/core, component/gRPC

#1063 Fix update indexes running when not necessary
  cli/instance/instance.go
  commands/download.go
  commands/instances.go
  go.mod
  go.sum
  test/test_compile.py
  test/test_core.py
  test/test_update.py
Labels: component/CLI, component/core

#1075 lib install --git-url and --zip-file must now be esplicitly enabled
  cli/lib/install.go
  configuration/defaults.go
  test/test_lib.py
Labels: component/CLI

#1076 Add board vid and pid in board list json output
  commands/board/list.go
  commands/board/list_test.go
  rpc/commands/board.pb.go
  rpc/commands/board.proto
Labels: component/CLI, component/gRPC

#1082 Add new commands to edit config files
  cli/config/add.go
  cli/config/config.go
  cli/config/delete.go
  cli/config/init.go
  cli/config/remove.go
  cli/config/set.go
  cli/config/validate.go
  test/test_config.py
Labels: component/CLI

#1087 [skip changelog] Document `library.enable_unsafe_install` configuration key
  docs/configuration.md
Labels: component/docs

#1088 Update warning message for --git-url and --zip-file lib install flags
  cli/lib/install.go
  test/test_lib.py
Labels: component/CLI, component/docs
