Repository arduino/arduino-cli, pull requests merged in 2020-12, with the labels that each got.

#1091 Fix JSON output not printing newline
  cli/feedback/feedback.go
  test/test_board.py
Labels: component/CLI

#1089 Add build datetime to version command output
  .goreleaser.yml
  Taskfile.yml
  version/version.go
Labels: component/core

#1096 [skip changelog] Fix missing commands in docs navigation
  docsgen/go.sum
  mkdocs.yml
Labels: component/docs

#1098 Add support for file:// schema to set local additional URLs
  arduino/utils/url.go
  arduino/utils/url_test.go
  cli/cli.go
  cli/config/validate.go
  commands/daemon/testdata/arduino-cli.yml
  commands/instances.go
  configuration/configuration.go
  configuration/configuration_test.go
  configuration/defaults.go
  docs/configuration.md
  docs/getting-started.md
  test/test_core.py
Labels: component/CLI, component/core, component/docs

#1101 [skip changelog] Update UPGRADING.md with new breaking changes
  docs/UPGRADING.md
Labels: component/docs

#1104 Fix debug command not finding sketch build folder
  arduino/sketches/sketches.go
  arduino/sketches/sketches_test.go
  commands/debug/debug_info.go
  commands/debug/debug_test.go
  test/test_debug.py
Labels: component/CLI, component/gRPC

#1097 [skip changelog] Improve wording of FAQ re: boards w/o dedicated VID/PID
  docs/FAQ.md
Labels: component/docs

#1110 [skip changelog] Add missing breaking change in UPGRADING.md
  docs/UPGRADING.md
Labels: component/docs
