Repository arduino/arduino-cli, pull requests merged in 2020-03, with the labels that each got.

#602 [skip changelog] Add CLI documentation
  .github/workflows/docs.yaml
  .gitignore
  CONTRIBUTING.md
  Taskfile.yml
  docs/commands/.gitkeep
  docs/getting-started.md
  docs/img/icon_mac_light.png
  docs/index.md
  docs/rpc/.gitkeep
  docsgen/go.mod
  docsgen/go.sum
  docsgen/main.go
  mkdocs.yml
  requirements_docs.txt
Labels: component/docs

#603 [skip changelog] Revamp the README
  .github/workflows/docs.yaml
  README.md
  README.rst
  docs/CONTRIBUTING.md
  docs/FAQ.md
  docs/getting-started.md
  docs/img/featured-CLI.png
  docs/index.md
  docs/installation.md
  mkdocs.yml
Labels: component/docs

#604 [skip changelog] Fix README links
  .github/workflows/docs.yaml
  README.md
Labels: component/docs, component/tooling

#454 Read upload port from sketch.json
  arduino/sketches/sketches.go
  cli/board/attach.go
  commands/board/attach.go
  commands/upload/upload.go
Labels: component/CLI

#619 Added dry-run mode in Compile command
  cli/compile/compile.go
  commands/compile/compile.go
  rpc/commands/compile.pb.go
  rpc/commands/compile.proto
Labels: component/gRPC

#618 [skip changelog] Deploy docs website when merging on master
  .github/workflows/docs.yaml
  docs/index.md
Labels: component/tooling

#621 [skip changelog] add docs build badge in the README
  README.md
Labels: component/docs

#615 GH-612: `core search` can exact-match Platform#ID too.
  commands/core/search.go
Labels: component/CLI
