Repository arduino/arduino-cli, pull requests merged in 2020-10, with the labels that each got.

#982 Programmers can't be listed anymore using burn-bootloader programmer …
  cli/burnbootloader/burnbootloader.go
  cli/upload/upload.go
Labels: component/CLI, component/docs

#957 Change behaviour of --config-file flag with config commands
  cli/config/init.go
  commands/daemon/settings_test.go
  configuration/configuration.go
  configuration/configuration_test.go
  main.go
  test/test_config.py
Labels: component/CLI

#972 [skip changelog] Consolidate integration test instructions
  docs/CONTRIBUTING.md
  test/README.md
Labels: component/docs

#974 [skip changelog] Document all contribution options in contributing guidelines
  docs/CONTRIBUTING.md
Labels: component/docs

#1019 Added --clean flag in 'compile' command
  cli/compile/compile.go
  commands/compile/compile.go
  legacy/builder/phases/core_builder.go
  legacy/builder/types/context.go
  legacy/builder/wipeout_build_path_if_build_options_changed.go
  rpc/commands/compile.pb.go
  rpc/commands/compile.proto
Labels: component/CLI, component/gRPC, kind/feature-request

#1023 [skip changelog] Document available memory build properties
  docs/platform-specification.md
Labels: component/docs

#1024 [skip changelog] Update the tool definition example
  docs/package_index_json-specification.md
Labels: component/docs

#1025 [skip changelog] Link to Sketch build process docs from Platform specification
  docs/platform-specification.md
Labels: component/docs

#1022 [skip changelog] Resolve impossible to satisfy Flake8 configuration
  .flake8
Labels: component/testing

#1016 Fix core search command not searching through package terms
  commands/core/search.go
  commands/core/search_test.go
  commands/core/testdata/package_index.json
  test/test_core.py
  test/testdata/test_index.json
Labels: component/CLI, component/core, component/gRPC

#1026 Revert "Change behaviour of --config-file flag with config commands"
  cli/config/init.go
  commands/daemon/settings_test.go
  configuration/configuration.go
  configuration/configuration_test.go
  main.go
  test/test_config.py
Labels: component/core, kind/bug

#1020 Fix platform tool dependency determination
  arduino/cores/cores.go
  arduino/cores/cores_test.go
  test/test_core.py
Labels: component/core, kind/bug

#964 [skip changelog] Change CI Go version from 1.15 to 1.14
  .github/workflows/i18n-nightly-push.yaml
  .github/workflows/i18n-weekly-pull.yaml
  .github/workflows/link-validation.yaml
  .github/workflows/publish-docs.yaml
  .github/workflows/test.yaml
  .github/workflows/validate-docs.yaml
  docs/CONTRIBUTING.md
Labels: component/testing

#1027 Refactored config to not use viper singleton instance
  arduino/cores/packagemanager/loader.go
  arduino/cores/packagemanager/package_manager_test.go
  cli/cache/clean.go
  cli/cli.go
  cli/compile/compile.go
  cli/config/dump.go
  cli/config/init.go
  cli/daemon/daemon.go
  commands/board/list_test.go
  commands/compile/compile.go
  commands/core/search_test.go
  commands/daemon/settings.go
  commands/daemon/settings_test.go
  commands/instances.go
  configuration/configuration.go
  configuration/configuration_test.go
  configuration/defaults.go
  configuration/directories.go
  docsgen/main.go
  httpclient/httpclient_config.go
  i18n/i18n.go
  main.go
  telemetry/telemetry.go
  test/test_config.py
Labels: component/CLI, component/core, component/docs, kind/bug

#1028 [skip changelog] Split publish docs workflow
  .github/workflows/publish-docs.yaml
Labels: component/docs

#998 Enhances tracking of installed platforms
  arduino/cores/cores.go
  arduino/cores/packageindex/index.go
  arduino/cores/packageindex/index_test.go
  arduino/cores/packagemanager/install_uninstall.go
  arduino/cores/packagemanager/loader.go
  arduino/cores/packagemanager/testdata/data_dir_1/package_index.json
  commands/board/testdata/package_index.json
  test/conftest.py
  test/test_board.py
  test/test_core.py
  test/testdata/installed.json
Labels: component/CLI, component/core, component/dependencies

#1032 Add flag to board list command to watch for connected and disconnected boards
  cli/board/list.go
  cli/feedback/exported.go
  cli/feedback/feedback.go
  commands/board/list.go
  commands/bundled_tools_serial_discovery.go
Labels: component/CLI, component/core

#1043 Core and lib search command now update indexes first
  cli/core/search.go
  cli/lib/search.go
  test/test_core.py
  test/test_lib.py
Labels: component/CLI
